
<div class="container-fluid  p-3" style="border-bottom:1px solid black;background-color: #00A1AC;">
<div class="row">
    <div class="col-1">
        <a href=""><img src="../assets/logo3.png" alt="" width="100%"></a>
    </div>

  <div class="col">
    <div class="nav nav-fill nav-pill menutop " >
      <a href="" class="nav-link">  <i class="fas fa-mobile-alt"></i> Download our app </a>
      <a href="" class="nav-link"> GK & Current Affairs </a>
      <a href="" class="nav-link"> Blog</a>
      <a href="" class="nav-link"> Discuss</a>
      <a href="" class="nav-link">Learning  Centers </a>
      <a href="" class="nav-link"> Refer & Earn</a>
      <a href="" class="nav-link">Group Discussions</a>
      <a href="" class="nav-link">Promo</a>
    </div>
  </div>
</div>
</div>
