<div class="container">
  <div class="row bg-info p-3">
    <div class="col-2 p-1">
      <img src="../assets/logo3.png" alt="" width="100%">
    </div>
    <div class="col text-light">
      <h2>GATE Online Application Processing System </h2>
      <h2 class="text-center">(GOAPS)</h2>
    </div>
    <div class="col-2 p-1">
      <img src="../assets/logo3.png" alt="" width="100%">
    </div>
  </div>
  <div class="row p-2" style="background-color: #f6f6f6">
    <div class="col">
      <nav class="nav  nav-pill nav-fill float-right">
        <a class="nav-link" href="">Home</a>
        <a class="nav-link" href="">Gate 2019</a>
        <a class="nav-link" href="">FAQs</a>
        <a class="nav-link" href="">Login</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-3 ">
      <nav class="nav nav-flex nav-fill nav-pill" style="border-left:1px solid #f6f6f6">
        <a href="" class="nav-link">Information Brochure</a>
        <a href="" class="nav-link">Documents For Application</a>
        <a href="" class="nav-link">Important Dates</a>
        <a href="" class="nav-link">Eligibility</a>
        <a href="" class="nav-link">Information Brochure</a>
        <a href="" class="nav-link">Important Notice</a>
      </nav>
    </div>
    <div class="col" style="border-left:1px solid #f6f6f6">
      <h3 class="bg-light m-2 p-2">
        <!--   <span  style="background-color:#cdfcdc"><i class="fas fa-greater-than"></i></span> -->
        Login, If already
        Registered</h3>
      <label for=""><b>Enrollment ID / Email Address / Registration ID</b></label>
      <input type="text" class="form-control">
      <p>Enter Enrollment ID sent during registration / Email ID</p>
      <label for=""><b>Password</b></label>
      <input type="text" class="form-control">
      <p>Enter your GOAPS password. (Case Sensitive) </p>
      <span class="bg-dark p-3 text-light">4+1=</span>
      <p class="mt-4"><b>Evaluate this arithmetic expression and place the value below</b></p>
      <input type="text" class="form-control">
      <button class="btn btn-info mt-2">Submit</button> <button class="btn mt-2 ml-3">Forgot Enrolklment Id or
        Password?</button>
    </div>

  </div>
  <div class="row" style="background-color: #f6f6f6">
    <div class="col">
      <p>@2018-2019 <a href="">IIT Madras</a>
      </p>
    </div>
  </div>
</div>