<app-header></app-header>
<div class="container-fluid">
  <div class="row bg-info text-light">
    <div class="col">
      <h3>Examination Summary</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <table class="table table-bordered table-stripped ">
        <tr class="bg-info">
          <th>Section Name</th>
          <th>No. of Questions</th>
          <th>Answered</th>
          <th>Not Answered</th>
          <th>Marked for Review</th>
          <th>Answered & Marked for Review(will be considewred for evaluation)</th>
          <th>Not Visited</th>
        </tr>
        <tr>
          <td>General Aptitude</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td>Aerospace Engineering</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </table>
    </div>
  </div>
</div>
<app-footer-top></app-footer-top>
