<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-5" style="padding-top: 50px;"><!-- Material form login -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-3" style="background-color: #00A1AC;">
    <strong style="color:white;">LOGIN</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;">

      <!-- Email -->




      <div class="md-form" style="padding-top: 10px;">
          <label for="userid">User Id</label>


        <input type="text" id="userid" class="form-control" placeholder="User Id" required name="">
      </div>

      <!-- Password -->
      <div class="md-form" style="padding-top: 10px;">
          <label for="materialLoginFormPassword">Password</label>
        <input type="password" id="materialLoginFormPassword" class="form-control"  placeholder="Password">

      </div>

      <div class="d-flex justify-content-around">

        <div>

        </div>
      </div>

      <button routerLink="/instructions" class="btn   btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" style="background-color: #00A1AC;color:white;">Sign in</button>


      <!-- <p>or sign in with:</p>
      <a type="button" class="btn-floating btn-fb btn-sm">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" class="btn-floating btn-tw btn-sm">
        <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-li btn-sm">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a type="button" class="btn-floating btn-git btn-sm">
        <i class="fab fa-github"></i>
      </a> -->

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login --></div>
    <div class="col-3"></div>
    <div class="col-2"></div>

  </div>
</div>
