<!-- <div class="container-fluid">
  <div class="row" style="background-color:rgb(227, 227, 233);height: 50px; padding-top:5px;">
    <div class="col-1">
        <a href=""><img src="../assets/logo3.png" alt="" width="100%"></a>
    </div>

    <div class="col-8">


      <div class="nav nav-fill nav-pill">

      </div>
    </div>
    <div class="col"> -->
      <!-- <button class="btn btn-outline-dark mr-3 float-right" routerLink="/login " >Login</button> -->
      <!-- <button class="btn btn-success">Signup</button> -->
    <!-- </div>
  </div>
</div> -->
