<div class="container">
  <div class="row bg-success">
    <div class="col">
<h1 class="text-danger">GATE 2020</h1>
<p>Graduate Aptitude Test in Engineering</p>
    </div>
    <div class="col mt-3">
      <h4 class="text-danger"> Organising Institite:IIT Madras</h4>
      </div>
  </div>
  <div class="row">
    <h3>GATE 2019 Question Papers and Final Answer Keys</h3>
    <table class="table table-bordered  ">
      <tr>
        <th colspan="3" class="bg-info text-center">GATE 2019 Question Papers and Answer Keys</th>
      </tr>
      <tr>
        <th>Aerospace Engineering (AE)</th>
        <td><a href="">Question Paper</a></td>
        <td><a href="">Answer Key</a></td>
      </tr>
      <tr>
          <th>Agricultural Engineering (AG)</th>
          <td><a href="">Question Paper</a></td>
          <td><a href="">Answer Key</a></td>
        </tr>
        <tr>
            <th>Architecture and Planning (AR)</th>
            <td><a href="">Question Paper</a></td>
            <td><a href="">Answer Key</a></td>
          </tr>
          <tr>
              <th>Biotechnology (BT)</th>
              <td><a href="">Question Paper</a></td>
              <td><a href="">Answer Key</a></td>
            </tr>
            <tr>
                <th>Civil Engineering (CE)</th>
                <td><a href="">Question Paper</a></td>
                <td><a href="">Answer Key</a></td>
              </tr>
              <tr>
                  <th>Chemical Engineering (CH)</th>
                  <td><a href="">Question Paper</a></td>
                  <td><a href="">Answer Key</a></td>
                </tr>
                <tr>
                    <th>Computer Science and Information Technology (CS)</th>
                    <td><a href="">Question Paper</a></td>
                    <td><a href="">Answer Key</a></td>
                  </tr>
                  <tr>
                      <th>Chemistry (CY)</th>
                      <td><a href="">Question Paper</a></td>
                      <td><a href="">Answer Key</a></td>
                    </tr>
    </table>
  </div>
</div>
