<app-header></app-header>
<div class="container-fluid lineheight">
  
  <div class="row ">
    <div class="col-9 " style="border-right:1px solid black">
      <h3 class="p-2">Other Important Instructions</h3>
      <h4 class="text-center" style="text-decoration:underline">Paper Specific Instructions</h4>
      <h5 class="text-center"> <span class="bg-warning"> AE: Aerospace Engineering</span></h5>
      <i>Duration:</i> <b>180 Minutes</b> <span class="float-right"><i>Total Marks:</i> <b>100</b></span>

      <ol>
        <li>
          Go through various question palette symbols and understand their meanings before starting the examination.
        </li>
        <li>After the start of the examination, you can view all the questions by clicking on the <b> Question Paper</b>
          button on the screen.</li>
        <li>This question paper consists of <b> 2 sections</b>, General Aptitude (GA) section for <b> 15 marks</b> and
          the subject specific section <b class="bg-warning"> (AE)</b> for <b> 85 marks.</b> Both these sections are
          compulsory.</li>
        <li>The GA section consists of <b> 10</b> questions. Question numbers 1 to 5 are of 1 mark each, while question
          numbers 6 to 10 are of 2 marks each.</li>
        <li>The subject specific <b class="bg-warning"> AE </b>section consists of <b> 55</b> questions, out of which
          question numbers 1 to 25 are of 1 mark each, while question numbers 26 to 55 are of 2 marks each.</li>
        <li>Use the data given in the question while answering that question. If such data are not given, and the paper
          has useful data, then the same can be viewed by clicking on the <b> Useful Data</b> button that appears at the
          top, right-hand side of the screen.</li>
        <li>The question paper consists of <b> Multiple Choice Questions (MCQ) and Numerical Answer Type (NAT).</b>
          <ol start="a">
            <li>Multiple choice type questions have four choices A, B, C, D, out of which only <b> ONE</b> is the
              correct answer. Select the answer by clicking on the radio button placed before the choice, with the help
              of the mouse.</li>
            <li>For numerical answer type questions, a numerical answer should be entered with the help of the mouse and
              the virtual numeric keypad, which will appear below the question.</li>
          </ol>
        </li>
        <li>All those questions that are not attempted will carry zero marks. However, wrong answers for multiple choice
          type questions (MCQ) will carry <b> NEGATIVE</b> marks. For multiple choice type questions, a wrong answering
          will lead to deduction of ⅓ marks for a 1-mark question and ⅔ marks for a 2-mark question. There is no
          negative marking for NAT questions.</li>
        <li>Your answers will be saved on the server periodically and also at the end of the examination. The
          examination will <b> stop automatically</b> at the end of <b> 180 minutes.</b></li>

        <li>You are not allowed to leave the examination hall until the completion of the examination.</li>
        <li>Charts, graph sheets, calculators and mathematical tables are NOT allowed in the examination hall. You must
          use the scribble pad provided to you in the examination hall for your rough work, which must be returned at
          the end of the examination.</li>

      </ol>

      <div>
        <small><input type="checkbox">I have read and understood the instructions. All computer hardware allotted to me
          are in proper working condition. I declare that I am not in possession of / not wearing / not carrying any
          prohibited gadget like mobile phone, bluetooth devices etc. /any prohibited material with me into the
          Examination Hall.I agree that in case of not adhering to the instructions, I shall be liable to be debarred
          from this Test and/or to disciplinary action, which may include ban from future Tests / Examinations</small>
        <div class="row">
          <div class="col">
            <a routerLink="/instructions" class="btn btn-outline-info"> <i class="fas fa-less-than"></i>Previoius</a>
            
          </div>
          <div class="col">
              <a routerLink="/other-instructions" class="btn  btn-info" routerLink="/question-paper">I am ready to login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mt-3">
        <img src="../assets/user.jpg" alt="" width="80%" alt="mallesh">
      </div>
  </div>
</div>
<app-footer-top></app-footer-top>