<div class="container ">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-3"><i class="fab fa-sketch fa-3x  text-success"></i></div>
        <div class="col-9 p-0">
          <p>Trusted by</p>
          <h4>89898 + Students</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <p>Join the community for free
      </p>
    </div>
    <div class="col">
      <button class="btn btn-block btn-success">Get started For Free</button>
    </div>
    <div class="col">
      <button class="btn btn-block btn-light"><i class="fab fa-google-play"></i> &nbsp;Get started For Free</button>

    </div>
  </div>
</div>
 